@import 'tailwindcss';
/* Project Section animation button CSS  */
.animated-button {
  
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.animated-button:hover span {
  position: relative;
  z-index: 1;
  color: black;
}

.animated-button::after {
  content: '';
  position: absolute;

  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in 0.1ms;
}

.animated-button:hover::after {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
}

.animated-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

/* About Section animation button CSS */

.animated-button-2 {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.animated-button-2:hover span {
  position: relative;
  z-index: 1;
  color: black;
}

.animated-button-2::after {
  content: '';
  position: absolute;

  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(139, 139, 139, 0.1);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in 0.1ms;
}

.animated-button-2:hover::after {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease;
}

.animated-button-2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.animated-button-2-icon {
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
  z-index: 1;
}

.animated-button-2-icon > * {
  position: relative;
  z-index: 2;
}

.animated-button-2-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgb(253, 253, 253);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
  border-radius: inherit;
}

/* Jab parent button par hover ho, to icon ka text (arrow) ka color badal jayega */
.animated-button-2:hover .animated-button-2-icon {
  color: black;
}

/* Jab parent button par hover ho, to icon ka background center se expand hoga */
.animated-button-2:hover .animated-button-2-icon::before {
  transform: translate(-50%, -50%) scale(1);
}




/* Landing Section animation button CSS */

.landing-button:hover .landing-bt {
  background-color: white;
  transition: ease-in-out 0.1s;
  color: black;
}

.landing-button .landing-bt-icon {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 1;
}

.landing-button .landing-bt-icon > * {
  position: relative;
  z-index: 2;
}

.landing-button .landing-bt-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  border-radius: inherit;
}

.landing-button:hover .landing-bt-icon {
  color: black;
}

.landing-button:hover .landing-bt-icon::before {
  transform: translate(-50%, -50%) scale(1);
}
